/Relogio/nbproject/private/
/Relogio/build/
/Exemplos/target/
/ExemplosTiposPrimitivos/nbproject/private/
/ExemplosTiposPrimitivos/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/CalculaIdade/nbproject/private/
/CalculaIdade/build/
