/Relogio/nbproject/private/
/Relogio/build/
/Exemplos/target/
/ExemplosTiposPrimitivos/nbproject/private/
/ExemplosTiposPrimitivos/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/CalculaIdade/nbproject/private/
/CalculaIdade/build/
/OperadoresAritméticos/nbproject/private/
/OperadoresAritméticos/build/
/DividindoNumeros/nbproject/private/
/DividindoNumeros/build/
/SuperCalc/nbproject/private/
/SuperCalc/build/
/MaiorDeIdade/nbproject/private/
/MaiorDeIdade/build/
/Palpite/nbproject/private/
/Akinator/nbproject/private/
/Akinator/build/
/Aula_9/nbproject/private/
/Aula_9/build/
/ParOuImpar/nbproject/private/
/ParOuImpar/build/
/ValorDeDelta/nbproject/private/
/ValorDeDelta/build/
/FormamTrangulos/nbproject/private/
/FormamTriangulos/nbproject/private/
/FormamTriangulos/build/
*.xml
Aula_9/manifest.mf
